.Appl{
  font-size: 1,5em;
}

.firstCouple, .secondeCouple
{
  display: flex;
  justify-content: center;
}
.firstCountry, .secondCountry, .thirdCountry, .fourCountry
{
  margin-left: 1em;
  margin-right: 1em;
}
body{
  background-color: greenyellow;
}
